header.site-header
  nav(
    class="navbar",
    role="navigation"
  )
    .container
      h1.site-title
        a(
          href="https://ubuntustudio.org/",
          class="logo-link",
          rel="home",
        )
          img(
            width="281",
            height="50",
            src="./images/Logo2022.png",
            class="custom-logo",
            alt="Ubuntu Studio"
          )

      button(
        class="navbar-toggle",
        data-toggle="offcanvas"
      )
        span
          +svg("0 0 30 30", "rgba(255, 255, 255, 0.5)", "2", "round", "10", "M4 7h22M4 15h22M4 23h22")

      #navbar-collapse-l.navbar-collapse
        h1.site-title
          a(
            href="https://ubuntustudio.org/",
            class="logo-link",
            rel="home",
          )
            img(
                width="281",
                height="50",
                src="./images/Logo2022.png",
                class="custom-logo",
                alt="Ubuntu Studio"
            )

        ul.navbar-nav
          li.menu-item.active
            a(
              title="Home",
              href="#",
              class="nav-link"
            ) Home
          li.menu-item
            a(
              title="About",
              href="#",
              class="nav-link"
            ) About
          li.menu-item
            a(
              title="News",
              href="#",
              class="nav-link"
            ) News
          li.menu-item
            a(
              title="Features",
              href="#",
              class="nav-link"
            ) Features
          li.menu-item
            a(
              title="Download",
              href="#",
              class="nav-link"
            ) Download
          li.menu-item
            a(
              title="Support",
              href="#",
              class="nav-link"
            ) Support
          li.menu-item
            a(
              title="Contribute",
              href="#",
              class="nav-link"
            ) Contribute
          li.menu-item
            a(
              title="Merchandise",
              href="#",
              class="nav-link"
            ) Merchandise
          li.menu-item-search
            form(
              method="GET",
              class="search-form",
              action="#",
              role="search"
            )
              label
                span.screen-reader-text Search for:
                input(
                  type="search",
                  class="search-field",
                  placeholder="Search ..."
                )
              input(
                type="submit",
                class="search-submit",
                value="Search"
              )
            a(
              href="#",
              class="nav-item-search-toggle"
            )

        a(
          href="#",
          class="offcanvas-close",
          data-toggle="offcanvas"
        )
