title= theTitle

meta(
  name="description",
  content=siteDescription
)

meta(
  name="keywords",
  content="linux,fedora,arch,ubuntu,kali,red,hat,distros"
)

meta(
  name="author",
  content=theTitle
)

link(
  rel="canonical",
  href=siteUrl
)

+seoMetadata("og:locale", "en_US")

+seoMetadata("og:type", "website")

+seoMetadata("og:title", theTitle)

+seoMetadata("og:description", siteDescription)

+seoMetadata("og:url", siteUrl)

+seoMetadata("og:site_name", theTitle)

+seoMetadata("og:image", siteLogo720)

+seoMetadata("og:image:url", siteLogo720)

+seoMetadata("og:image:secure_url", siteLogo720)

+seoMetadata("og:image:type", "image/png")

+seoMetadata("og:image:width", "512")

+seoMetadata("og:image:height", "789")

+seoMetadata("og:image:alt", "Logo")

+twitterMetadata("card", "summary_large_image")

+twitterMetadata("url", siteUrl)

+twitterMetadata("title", theTitle)

+twitterMetadata("description", siteDescription)

+twitterMetadata("site", siteMention)

+twitterMetadata("creator", myUsername)

+twitterMetadata("image", siteLogo720)

+twitterMetadata("image:src", siteLogo720)
