.site-content-about#about
  .container
    ul.card-list
      li.about-card
        .about-details
          h3.about-title= "Introduction"
          .about-desc
            p= "Linux is an open-source operating system that was created by Linus Torvalds in 1991. It is a Unix-like operating system that is freely distributable and is authored and maintained by a group of several thousand developers loosely collaborating across the Internet. Linux is widely used and has various small programs to meet different needs."
        .about-image
          img(
            src="./images/Linus_Torvalds_(cropped).jpg",
            alt="Test"
          )

      li.about-card
        .about-details
          h3.about-title= "Features"
          .about-desc
            p= "One of the main features of Linux is its variety of small programs to meet various needs. Each of these programs typically does one thing, contributing to the system's modularity and flexibility. Linux is also known for its stability, security, and open-source nature, allowing users to modify and distribute the source code."
        .about-image
          img(
            src="./images/Bash_screenshot_cut.png",
            alt="Test"
          )

      li.about-card
        .about-details
          h3.about-title= "Missions"
          .about-desc
            p= "Linux's mission is to provide a free and open-source operating system that can be used on a wide range of devices, from personal computers to servers. It aims to offer a stable, secure, and customizable platform for users and developers, promoting collaboration and innovation in the software industry."
        .about-image
          img(
            src="./images/F8Qmy_EWEAA2nyW.jpeg",
            alt="Test"
          )

      li.about-card
        .about-details
          h3.about-title= "Objectives"
          .about-desc
            p= "The primary objective of Linux is to continue its development as an open-source operating system, fostering a community-driven approach to software development. It aims to provide a reliable and efficient alternative to proprietary operating systems, promoting freedom, flexibility, and innovation in computing."
        .about-image
          img(
            src="./images/LibreOffice-7.6.png",
            alt="Test"
          )
