.site-content-about#about
  .container
    ul.card-list
      li.about-card
        .about-details
          h3.about-title= "Hasan Al-Kaf & Ahmed"
          .about-desc
            p= "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sed laboriosam voluptates quas sapiente exercitationem mollitia ad dolor id, itaque quisquam. Reiciendis, et perferendis. Omnis deserunt reprehenderit consequatur eius vero!"
        .about-image
          img(
            src="./images/cropped-favicon.png",
            alt="Test"
          )

      li.about-card
        .about-details
          h3.about-title= "Hasan Al-Kaf & Ahmed"
          .about-desc
            p= "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sed laboriosam voluptates quas sapiente exercitationem mollitia ad dolor id, itaque quisquam. Reiciendis, et perferendis. Omnis deserunt reprehenderit consequatur eius vero!"
        .about-image
          img(
            src="./images/cropped-favicon.png",
            alt="Test"
          )

      li.about-card
        .about-details
          h3.about-title= "Hasan Al-Kaf & Ahmed"
          .about-desc
            p= "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sed laboriosam voluptates quas sapiente exercitationem mollitia ad dolor id, itaque quisquam. Reiciendis, et perferendis. Omnis deserunt reprehenderit consequatur eius vero!"
        .about-image
          img(
            src="./images/cropped-favicon.png",
            alt="Test"
          )

      li.about-card
        .about-details
          h3.about-title= "Hasan Al-Kaf & Ahmed"
          .about-desc
            p= "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sed laboriosam voluptates quas sapiente exercitationem mollitia ad dolor id, itaque quisquam. Reiciendis, et perferendis. Omnis deserunt reprehenderit consequatur eius vero!"
        .about-image
          img(
            src="./images/cropped-favicon.png",
            alt="Test"
          )
