.site-content-banner
  .container
    .row
      .banner-content
        .banner-text A <strong>Content Creation Studio</strong> on Your Computer.<br />...and It's Free!

        p.ubuntu-desc Ubuntu Studio is an operating system for creative individuals in the areas of audio production, video production, graphics design, photography, and desktop publishing.

        .banner-image
          .illustration
            .illustration-base
              img(
                src="./images/base.svg"
              )
            .illustration-objects1
              img(
                src="./images/objects1.svg"
              )
            .illustration-objects2
              img(
                src="./images/objects2.svg"
              )
            .illustration-objects3
              img(
                src="./images/objects3.svg"
              )
            .illustration-light
              img(
                src="./images/light.svg"
              )

        .action-banner
          span.action-label Get Ubuntu Studio

          .action-ver-content
            h2.action-ver-title Version 22.04.3 LTS 
              span.text-muted Jammy Jellyfish
            p.action-desc The latest Long-Term Support release<br> Supported until April 2025<br><br>Ubuntu Studio uses the Plasma Desktop by KDE
            p
              b Don't want KDE Plasma? Use <a href="https://ubuntustudio.org/ubuntu-studio-installer">Ubuntu Studio Installer</a> on any other <a href="https://ubuntu.com/download/flavours">official Ubuntu flavor</a>!
            .btn-action-wrapper
              img(
                src="./images/studiotag.png",
                alt="UbuntuStudio Icon",
                class="action-img"
              )
              a(
                href="https://ubuntustudio.org/download",
                class="btn btn-primary"
              ) Download
              a(
                href="https://ubuntustudio.org/ubuntu-studio-22-04-lts-release-notes/",
                class="btn btn-outline-info"
              ) Release Notes

          .action-ver-content
            h2.action-ver-title Version 23.10 
              span.text-muted Mantic Minotaur
            p.action-desc The latest regular release<br>Supported until July 2024
            .btn-action-wrapper
              img(
                src="./images/studiotag.png",
                alt="UbuntuStudio Icon",
                class="action-img"
              )
              a(
                href="https://ubuntustudio.org/download",
                class="btn btn-primary"
              ) Download
              a(
                href="https://ubuntustudio.org/ubuntu-studio-23-10-release-notes/",
                class="btn btn-outline-info"
              ) Release Notes
