.site-content-banner#home
  .container
    .row
      .banner-content
        .banner-text A <strong>Content Creation Studio</strong> on Your Computer.<br />...and It's Free!

        p.ubuntu-desc Ubuntu Studio is an operating system for creative individuals in the areas of audio production, video production, graphics design, photography, and desktop publishing.

        .banner-image
          .illustration
            .illustration-base
              img(
                src="/images/base.svg"
              )
            .illustration-objects1
              img(
                src="/images/objects1.svg"
              )
            .illustration-objects2
              img(
                src="/images/objects2.svg"
              )
            .illustration-objects3
              img(
                src="/images/objects3.svg"
              )
            .illustration-light
              img(
                src="/images/light.svg"
              )
