.site-content-distro#distro
  .container
    h2.distro-title Distros

    .grid
      .grid-cell
        a(
          href="https://archlinux.org/",
          target="_blank",
          title="Arch Linux"
        )
          img(
            src="./images/1024px-Archlinux-icon-crystal-64.svg_HRJFuiQ.png",
            alt="Archlinux Logo"
          )

      .grid-cell
        a(
          href="https://ubuntu.com/",
          target="_blank",
          title="Ubuntu"
        )
          img(
            src="./images/ubuntu-logo.png",
            alt="Ubuntu Logo"
          )

      .grid-cell
        a(
          href="https://www.redhat.com/en",
          target="_blank",
          title="Red Hat"
        )
          img(
            src="./images/Red_Hat_logo.svg.png",
            alt="Red Hat Logo"
          )

      .grid-cell
        a(
          href="https://fedoraproject.org/",
          target="_blank",
          title="Fedora"
        )
          img(
            src="./images/Fedora-logo.svg.png",
            alt="Fedora Logo"
          )

      .grid-cell
        a(
          href="https://ubuntustudio.org/",
          target="_blank",
          title="Ubuntu Studio"
        )
          img(
            src="./images/534px-Ubuntustudio_v3_logo_only.svg.png",
            alt="Ubuntu Studio Logo"
          )

      .grid-cell
        a(
          href="https://www.kali.org/",
          target="_blank",
          title="Kali Linux"
        )
          img(
            src="./images/Kali-dragon-icon.svg.png",
            alt="Kali Linux Logo"
          )

      .grid-cell
        a(
          href="https://www.parrotsec.org/",
          target="_blank",
          title="Parrot"
        )
          img(
            src="./images/506px-Parrot_Logo.png",
            alt="Parrot Logo"
          )

      .grid-cell
        a(
          href="https://system76.com/pop",
          target="_blank",
          title="Pop OS"
        )
          img(
            src="./images/33131755.png",
            alt="Pop Logo"
          )

      .grid-cell
        a(
          href="https://voidlinux.org/",
          target="_blank",
          title="Void Linux"
        )
          img(
            src="./images/932px-Void_Linux_logo.svg.png",
            alt="Void Linux Logo"
          )

      .grid-cell
        a(
          href="https://www.alpinelinux.org/",
          target="_blank",
          title="Alpine Linux"
        )
          img(
            src="./images/Alpine_Linux_logo.png",
            alt="Alpine Linux Logo"
          )

      .grid-cell
        a(
          href="https://www.gentoo.org/",
          target="_blank",
          title="Gentoo"
        )
          img(
            src="./images/Gentoo_Logo_Vector.svg.png",
            alt="Gentoo Logo"
          )

      .grid-cell
        a(
          href="https://linuxmint.com/",
          target="_blank",
          title="Mint Linux"
        )
          img(
            src="./images/Linux_Mint_logo_without_wordmark.svg.png",
            alt="Mint Linux Logo"
          )

      .grid-cell
        a(
          href="https://nixos.org/",
          target="_blank",
          title="NixOS"
        )
          img(
            src="./images/nixos-original.svg",
            alt="Nixos Logo"
          )

      .grid-cell
        a(
          href="https://www.debian.org/",
          target="_blank",
          title="Debian"
        )
          img(
            src="./images/Openlogo-debianV2.svg.png",
            alt="Debian Logo"
          )

      .grid-cell
        a(
          href="https://www.suse.com/",
          target="_blank",
          title="SUSE"
        )
          img(
            src="./images/OpenSUSE_Logo.svg",
            alt="SUSE Logo"
          )

      .grid-cell
        a(
          href="http://www.slackware.com/",
          target="_blank",
          title="Slackware"
        )
          img(
            src="./images/Slackware_logo.svg.png",
            alt="Slackware Logo"
          )
