.site-content-distro#distro
  .container
    h2.distro-title Distros

    .grid
      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )

      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )

      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )

      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )

      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )

      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )

      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )

      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )

      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )

      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )

      .grid-cell
        a(
          href="#",
          title="Distro Name"
        )
          img(
            src="./images/cropped-favicon.png",
            alt="Distro"
          )
